<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/jeux">Jeux</a></li>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/editeurs">Éditeurs</a></li>
        </ul>
    </nav>
</header>
