<h1>Créer un nouvel editeur</h1>

<form action="/editeurs/new" method="POST">
  <label for="nom">Nom de l'editeur :</label>
  <input type="text" name="nom" required />
  <button type="submit">Créer</button>
</form>

<a href="/editeurs">Retour à la liste des editeurs</a>